<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="DescopeSDK Test Suite">
            <file>src/tests/DescopeSDKTest.php</file>
            <file>src/tests/InMemoryCacheTest.php</file>
            <file>src/tests/SDKConfigCacheTest.php</file>
        </testsuite>
    </testsuites>
</phpunit> 