name: PHP Unit Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DESCOPE_PROJECT_ID: ${{ vars.DESCOPE_PROJECT_ID }}

    strategy:
      matrix:
        php-version: [8.1, 7.4]

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up PHP
      uses: shivammathur/setup-php@ccf2c627fe61b1b4d924adfcbd19d661a18133a0 # 2.35.2
      with:
        php-version: ${{ matrix.php-version }}

    - name: Install dependencies
      run: composer install

    - name: Run tests
      run: vendor/bin/phpunit --configuration phpunit.xml