name: PHP Unit Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DESCOPE_PROJECT_ID: ${{ vars.DESCOPE_PROJECT_ID }}

    strategy:
      matrix:
        php-version: [8.1, 7.4]

    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

    - name: Set up PHP
      uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
      with:
        php-version: ${{ matrix.php-version }}

    - name: Install dependencies
      run: composer install

    - name: Run tests
      run: vendor/bin/phpunit --configuration phpunit.xml