name: PHP SDK CI Tests

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    if: contains(github.event.head_commit.message, 'RELEASE')
    steps:
      - name: Checkout source code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          persist-credentials: false
          ref: ${{ github.ref }}

      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: "8.1"
          tools: composer

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run PHP CodeSniffer
        run: vendor/bin/phpcs --standard=PSR2 --extensions=php src

      - name: Run PHPUnit tests
        run: composer run-script test

      - name: Get token
        id: get_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          private_key: ${{ secrets.RELEASE_APP_PEM }}
          app_id: ${{ secrets.RELEASE_APP_ID }}

      - name: Automated Version Bump
        id: version-bump
        uses: phips28/gh-action-bump-version@master
        with:
          tag-prefix: release/v
          major-wording: "MAJOR"
          minor-wording: "MINOR"
        env:
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}

      - name: Output Step
        env:
          NEW_TAG: ${{ steps.version-bump.outputs.newTag }}
        run: echo "new tag $NEW_TAG"

      - name: Update Packagist
        run: |
          curl -XPOST -H 'content-type:application/json' 'https://packagist.org/api/update-package?username=gaokevin1&apiToken=${{ secrets.PACKAGIST_API_TOKEN }}' -d '
          {
            "repository": {
              "url": "https://github.com/descope/descope-php"
            }
          }'
